{% extends 'app/base.html' %}
{% block content %}
<h3 class="border-bottom border-gray pb-2 mb-3">Search result for "{{ request.GET.searchtext }}"</h3>
{% if not context %}
<h3>No result from this search!</h3>
<a href="{% url 'add-api' %}">Do you want to add similar API?</a>
{% else %}
<a href="{% url 'add-api' %}" class="btn btn-outline-secondary mb-3">Add Api</a>
{% endif %}
{% for cat in context %}
<div style="background-color: AntiqueWhite;" class="alert">
    <h3 class=""><a href="{% url 'api' cat.name_url %}">{{ cat.name }}</a></h3>
    <small class="muted">On <i>{{ cat.date_added|date:'d F Y' }}</i> by <i>{{ cat.user.first_name }} {{ cat.user.last_name }}</i></small>
</div>
{% endfor %}

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page={{num}}">{{num}}</a>
{% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
<a class="btn btn-outline-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page={{num}}">{{num}}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?searchtext={{ request.GET.searchtext }}&page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock %}